@import url(reset.css);

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-variable.woff2) format(woff2) tech(variations);
    font-weight: 400 700;
    font-style: normal;
}

:root {
    --accent-color: hsl(196, 97%, 31%);
    --primary-background-color: hsl(341, 20%, 16%);
    --secondary-backgound-color: hsl(334, 17%, 41%);
    --secondary-text-color: hsl(332, 37%, 86%);;
    --primary-text-color: hsl(0, 100%, 100%, 100%);
    --border-input-color: hsl(341, 20%, 25%);
}

.page {
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    font-family: 'Roboto';
}

.content {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex: 1;
}

.content__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding-inline: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: fit-content;
    max-width: 800px;
    width: 100%;
    padding: 25px 224px;
    border-radius: 8px;
    background-color: var(--secondary-backgound-color);
}

.form__heading {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    color: var(--primary-text-color);
    line-height: 1.3;
    letter-spacing: -0.005em;
    font-weight: 700;
}

.form__input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__input-label {
    color: var(--secondary-text-color);
    font-weight: 600;
}

.form__text-input {
    height: 45px;
    width: 300px;
    background-color: var(--primary-background-color);
    border-radius: 8px;
    border: 1px solid var(--border-input-color);
    padding: 10px;
    color: var(--primary-text-color);
    transition: border-color ease 200ms;
}


.form__text-input:focus {
    border-width: 2px;
    border-color: var(--accent-color);
    outline: 0;
    box-shadow: none;
}
