@import url(reset.css);

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-variable.woff2) format(woff2) tech(variations);
    font-weight: 400 700;
    font-style: normal;
}

:root {
    --logo-primary-color: hsl(333, 32%, 74%);
    --logo-secondary-color: hsl(195, 49%, 65%);
    --accent-color: hsl(196, 97%, 31%);
    --border-accent-color: hsl(196, 97%, 33%);
    --hover-accent-color: hsl(196, 97%, 46%);
    --lighter-backgound-color: hsl(341, 20%, 25%);
    --primary-background-color: hsl(341, 20%, 16%);
    --secondary-background-color: hsl(334, 17%, 41%);
    --darker-background-color: hsl(341, 20%, 13%);
    --secondary-text-color: hsl(332, 37%, 86%);
    --primary-text-color: hsl(0, 100%, 100%, 100%);
    --border-input-color: hsl(341, 20%, 25%);
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    font-family: 'Roboto';
    overflow-x: hidden;
    overflow-y: scroll;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
}

.content__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__inner--filled {
    background-color: var(--secondary-background-color);
    padding: 50px;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
}

.content__title {
    font-size: 36px;
    font-weight: 700;
    color: var(--primary-text-color);
    line-height: 1.3;
    letter-spacing: -0.01em;
}

.content__loading {
    color: hsl(0, 100%, 100%, 50%);
    position: absolute;
    top: 80px;
}

.container {
    max-width: 1280px;
    width: 100%;
}

.content__modal {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.secondary-heading {
    font-weight: 700;
    font-size: 24px;
    color: var(--primary-text-color);
    line-height: 1.3;
    letter-spacing: -0.005em;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: fit-content;
    max-width: 800px;
    width: 100%;
    padding: 25px 224px;
    border-radius: 8px;
    background-color: var(--secondary-background-color);
}

.form--modal {
    z-index: 200;
    position: fixed;
}

.form__outer {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* .form__heading {
} */

.form__input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__input-label {
    color: var(--secondary-text-color);
    font-weight: 600;
}

.form__text-input {
    height: 45px;
    width: 300px;
    background-color: var(--primary-background-color);
    border-radius: 8px;
    border: 1px solid var(--border-input-color);
    padding: 10px;
    color: var(--primary-text-color);
    transition: border-color ease 200ms;
}


.form__text-input:focus {
    border-width: 2px;
    border-color: var(--accent-color);
    outline: 0;
    box-shadow: none;
}

.form__button {
    color: var(--primary-text-color);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border: 2px solid var(--border-accent-color);
    border-radius: 8px;
    padding: 10px 25px;
    transition: background-color ease 200ms;
}

.form__button:hover {
    background-color: var(--hover-accent-color);
}

.form__button:focus-visible {
    outline: 5px solid rgb(255, 255, 255);
}

.header {
    display: flex;
    justify-content: center;
    background-color: var(--darker-background-color);
    width: 100vw;
}

.header__inner {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header__list {
    display: flex;
    height: 100%;
}

.header__button {
    text-decoration: none;
    color: var(--primary-text-color);
    display: flex;
    max-height: 65px;
    height: 100%;
    padding: 20px 25px;
    align-items: center;
    font-weight: 700;
    background-color: var(--darker-background-color);
    border: none;
}

.header__button:hover {
    background-color: var(--primary-background-color);
}

.header__logo {
    height: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
    padding-inline: 10px;
}

.header__logo:hover {
    background-color: var(--primary-background-color);
}

.logo__svg {
    color: #D2A7BA;
    height: 95%;
    width: auto;
}

.table {
    border-spacing: 0px;
    border: solid 2px;
    border-radius: 8px;
    background-color: var(--lighter-backgound-color);
    color: var(--primary-text-color);
    border-color: var(--logo-primary-color);
    max-width: 100%;
}

.table__outer {
    position: relative;
}

.table__cell {
    border-left: solid var(--logo-primary-color) 2px;
    border-top: solid var(--logo-primary-color) 2px;
    padding: 15px 20px;
    text-align: center;
}

.table__cell--static {
    width: min-content;
    white-space: nowrap;
}

.table-cell--workers {
    text-align: left;
    width: 50%;
}

.table__cell:first-child {
    border-left: none;
}

.table__row {}

.table__heading {
    margin-bottom: 10px;
}

.table__head {}

.table__body {}

.table__cell--head {
    border-top: none;
}

.table__button {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--primary-text-color);
    padding: 0;
    height: 30px;
    transition: color 200ms ease;
}

.table__button:hover {
    color: var(--logo-secondary-color)
}

.table__button--first {
    left: 5px
}

.table__button--second {
    left: 45px
}